.burgerIngredientName {
    display: flex;
    justify-content: center;
    width: 100%;
    /*height: 48px;*/
}

.burgerIngredient {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
    width: 272px;
    text-align: center;
}

.burgerIngredientSectionsContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 284px);
    min-height: 0px;
    overflow-Y: auto;
}
